@font-face {
  font-family: "feather";
  src: url(feather-webfont.eot?cc5143b2b877ad1f2a9d7ddde2e55dee);
  /* IE9*/
  src: url(feather-webfont.eot?cc5143b2b877ad1f2a9d7ddde2e55dee) format("embedded-opentype"), url(feather-webfont.woff?2cf523cd335b115a5678b068b56c3011) format("woff"), url(feather-webfont.ttf?b8e9cbc7ac23b572497cd2115bcf71c6) format("truetype"), url(feather-webfont.svg?4a878d5b85f694202ec0ccd16510be9c) format("svg");
  /* iOS 4.1- */
}

.fe {
  font-family: "feather" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fe-activity:before {
  content: "\E900";
}

.fe-airplay:before {
  content: "\E901";
}

.fe-alert-circle:before {
  content: "\E902";
}

.fe-alert-octagon:before {
  content: "\E903";
}

.fe-alert-triangle:before {
  content: "\E904";
}

.fe-align-center:before {
  content: "\E905";
}

.fe-align-justify:before {
  content: "\E906";
}

.fe-align-left:before {
  content: "\E907";
}

.fe-align-right:before {
  content: "\E908";
}

.fe-anchor:before {
  content: "\E909";
}

.fe-aperture:before {
  content: "\E90A";
}

.fe-arrow-down:before {
  content: "\E90B";
}

.fe-arrow-down-circle:before {
  content: "\E90C";
}

.fe-arrow-down-left:before {
  content: "\E90D";
}

.fe-arrow-down-right:before {
  content: "\E90E";
}

.fe-arrow-left:before {
  content: "\E90F";
}

.fe-arrow-left-circle:before {
  content: "\E910";
}

.fe-arrow-right:before {
  content: "\E911";
}

.fe-arrow-right-circle:before {
  content: "\E912";
}

.fe-arrow-up:before {
  content: "\E913";
}

.fe-arrow-up-circle:before {
  content: "\E914";
}

.fe-arrow-up-left:before {
  content: "\E915";
}

.fe-arrow-up-right:before {
  content: "\E916";
}

.fe-at-sign:before {
  content: "\E917";
}

.fe-award:before {
  content: "\E918";
}

.fe-bar-chart:before {
  content: "\E919";
}

.fe-bar-chart-2:before {
  content: "\E91A";
}

.fe-battery:before {
  content: "\E91B";
}

.fe-battery-charging:before {
  content: "\E91C";
}

.fe-bell:before {
  content: "\E91D";
}

.fe-bell-off:before {
  content: "\E91E";
}

.fe-bluetooth:before {
  content: "\E91F";
}

.fe-bold:before {
  content: "\E920";
}

.fe-book:before {
  content: "\E921";
}

.fe-book-open:before {
  content: "\E922";
}

.fe-bookmark:before {
  content: "\E923";
}

.fe-box:before {
  content: "\E924";
}

.fe-briefcase:before {
  content: "\E925";
}

.fe-calendar:before {
  content: "\E926";
}

.fe-camera:before {
  content: "\E927";
}

.fe-camera-off:before {
  content: "\E928";
}

.fe-cast:before {
  content: "\E929";
}

.fe-check:before {
  content: "\E92A";
}

.fe-check-circle:before {
  content: "\E92B";
}

.fe-check-square:before {
  content: "\E92C";
}

.fe-chevron-down:before {
  content: "\E92D";
}

.fe-chevron-left:before {
  content: "\E92E";
}

.fe-chevron-right:before {
  content: "\E92F";
}

.fe-chevron-up:before {
  content: "\E930";
}

.fe-chevrons-down:before {
  content: "\E931";
}

.fe-chevrons-left:before {
  content: "\E932";
}

.fe-chevrons-right:before {
  content: "\E933";
}

.fe-chevrons-up:before {
  content: "\E934";
}

.fe-chrome:before {
  content: "\E935";
}

.fe-circle:before {
  content: "\E936";
}

.fe-clipboard:before {
  content: "\E937";
}

.fe-clock:before {
  content: "\E938";
}

.fe-cloud:before {
  content: "\E939";
}

.fe-cloud-drizzle:before {
  content: "\E93A";
}

.fe-cloud-lightning:before {
  content: "\E93B";
}

.fe-cloud-off:before {
  content: "\E93C";
}

.fe-cloud-rain:before {
  content: "\E93D";
}

.fe-cloud-snow:before {
  content: "\E93E";
}

.fe-code:before {
  content: "\E93F";
}

.fe-codepen:before {
  content: "\E940";
}

.fe-command:before {
  content: "\E941";
}

.fe-compass:before {
  content: "\E942";
}

.fe-copy:before {
  content: "\E943";
}

.fe-corner-down-left:before {
  content: "\E944";
}

.fe-corner-down-right:before {
  content: "\E945";
}

.fe-corner-left-down:before {
  content: "\E946";
}

.fe-corner-left-up:before {
  content: "\E947";
}

.fe-corner-right-down:before {
  content: "\E948";
}

.fe-corner-right-up:before {
  content: "\E949";
}

.fe-corner-up-left:before {
  content: "\E94A";
}

.fe-corner-up-right:before {
  content: "\E94B";
}

.fe-cpu:before {
  content: "\E94C";
}

.fe-credit-card:before {
  content: "\E94D";
}

.fe-crop:before {
  content: "\E94E";
}

.fe-crosshair:before {
  content: "\E94F";
}

.fe-database:before {
  content: "\E950";
}

.fe-delete:before {
  content: "\E951";
}

.fe-disc:before {
  content: "\E952";
}

.fe-dollar-sign:before {
  content: "\E953";
}

.fe-download:before {
  content: "\E954";
}

.fe-download-cloud:before {
  content: "\E955";
}

.fe-droplet:before {
  content: "\E956";
}

.fe-edit:before {
  content: "\E957";
}

.fe-edit-2:before {
  content: "\E958";
}

.fe-edit-3:before {
  content: "\E959";
}

.fe-external-link:before {
  content: "\E95A";
}

.fe-eye:before {
  content: "\E95B";
}

.fe-eye-off:before {
  content: "\E95C";
}

.fe-facebook:before {
  content: "\E95D";
}

.fe-fast-forward:before {
  content: "\E95E";
}

.fe-feather:before {
  content: "\E95F";
}

.fe-file:before {
  content: "\E960";
}

.fe-file-minus:before {
  content: "\E961";
}

.fe-file-plus:before {
  content: "\E962";
}

.fe-file-text:before {
  content: "\E963";
}

.fe-film:before {
  content: "\E964";
}

.fe-filter:before {
  content: "\E965";
}

.fe-flag:before {
  content: "\E966";
}

.fe-folder:before {
  content: "\E967";
}

.fe-folder-minus:before {
  content: "\E968";
}

.fe-folder-plus:before {
  content: "\E969";
}

.fe-git-branch:before {
  content: "\E96A";
}

.fe-git-commit:before {
  content: "\E96B";
}

.fe-git-merge:before {
  content: "\E96C";
}

.fe-git-pull-request:before {
  content: "\E96D";
}

.fe-github:before {
  content: "\E96E";
}

.fe-gitlab:before {
  content: "\E96F";
}

.fe-globe:before {
  content: "\E970";
}

.fe-grid:before {
  content: "\E971";
}

.fe-hard-drive:before {
  content: "\E972";
}

.fe-hash:before {
  content: "\E973";
}

.fe-headphones:before {
  content: "\E974";
}

.fe-heart:before {
  content: "\E975";
}

.fe-help-circle:before {
  content: "\E976";
}

.fe-home:before {
  content: "\E977";
}

.fe-image:before {
  content: "\E978";
}

.fe-inbox:before {
  content: "\E979";
}

.fe-info:before {
  content: "\E97A";
}

.fe-instagram:before {
  content: "\E97B";
}

.fe-italic:before {
  content: "\E97C";
}

.fe-layers:before {
  content: "\E97D";
}

.fe-layout:before {
  content: "\E97E";
}

.fe-life-buoy:before {
  content: "\E97F";
}

.fe-link:before {
  content: "\E980";
}

.fe-link-2:before {
  content: "\E981";
}

.fe-linkedin:before {
  content: "\E982";
}

.fe-list:before {
  content: "\E983";
}

.fe-loader:before {
  content: "\E984";
}

.fe-lock:before {
  content: "\E985";
}

.fe-log-in:before {
  content: "\E986";
}

.fe-log-out:before {
  content: "\E987";
}

.fe-mail:before {
  content: "\E988";
}

.fe-map:before {
  content: "\E989";
}

.fe-map-pin:before {
  content: "\E98A";
}

.fe-maximize:before {
  content: "\E98B";
}

.fe-maximize-2:before {
  content: "\E98C";
}

.fe-menu:before {
  content: "\E98D";
}

.fe-message-circle:before {
  content: "\E98E";
}

.fe-message-square:before {
  content: "\E98F";
}

.fe-mic:before {
  content: "\E990";
}

.fe-mic-off:before {
  content: "\E991";
}

.fe-minimize:before {
  content: "\E992";
}

.fe-minimize-2:before {
  content: "\E993";
}

.fe-minus:before {
  content: "\E994";
}

.fe-minus-circle:before {
  content: "\E995";
}

.fe-minus-square:before {
  content: "\E996";
}

.fe-monitor:before {
  content: "\E997";
}

.fe-moon:before {
  content: "\E998";
}

.fe-more-horizontal:before {
  content: "\E999";
}

.fe-more-vertical:before {
  content: "\E99A";
}

.fe-move:before {
  content: "\E99B";
}

.fe-music:before {
  content: "\E99C";
}

.fe-navigation:before {
  content: "\E99D";
}

.fe-navigation-2:before {
  content: "\E99E";
}

.fe-octagon:before {
  content: "\E99F";
}

.fe-package:before {
  content: "\E9A0";
}

.fe-paperclip:before {
  content: "\E9A1";
}

.fe-pause:before {
  content: "\E9A2";
}

.fe-pause-circle:before {
  content: "\E9A3";
}

.fe-percent:before {
  content: "\E9A4";
}

.fe-phone:before {
  content: "\E9A5";
}

.fe-phone-call:before {
  content: "\E9A6";
}

.fe-phone-forwarded:before {
  content: "\E9A7";
}

.fe-phone-incoming:before {
  content: "\E9A8";
}

.fe-phone-missed:before {
  content: "\E9A9";
}

.fe-phone-off:before {
  content: "\E9AA";
}

.fe-phone-outgoing:before {
  content: "\E9AB";
}

.fe-pie-chart:before {
  content: "\E9AC";
}

.fe-play:before {
  content: "\E9AD";
}

.fe-play-circle:before {
  content: "\E9AE";
}

.fe-plus:before {
  content: "\E9AF";
}

.fe-plus-circle:before {
  content: "\E9B0";
}

.fe-plus-square:before {
  content: "\E9B1";
}

.fe-pocket:before {
  content: "\E9B2";
}

.fe-power:before {
  content: "\E9B3";
}

.fe-printer:before {
  content: "\E9B4";
}

.fe-radio:before {
  content: "\E9B5";
}

.fe-refresh-ccw:before {
  content: "\E9B6";
}

.fe-refresh-cw:before {
  content: "\E9B7";
}

.fe-repeat:before {
  content: "\E9B8";
}

.fe-rewind:before {
  content: "\E9B9";
}

.fe-rotate-ccw:before {
  content: "\E9BA";
}

.fe-rotate-cw:before {
  content: "\E9BB";
}

.fe-rss:before {
  content: "\E9BC";
}

.fe-save:before {
  content: "\E9BD";
}

.fe-scissors:before {
  content: "\E9BE";
}

.fe-search:before {
  content: "\E9BF";
}

.fe-send:before {
  content: "\E9C0";
}

.fe-server:before {
  content: "\E9C1";
}

.fe-settings:before {
  content: "\E9C2";
}

.fe-share:before {
  content: "\E9C3";
}

.fe-share-2:before {
  content: "\E9C4";
}

.fe-shield:before {
  content: "\E9C5";
}

.fe-shield-off:before {
  content: "\E9C6";
}

.fe-shopping-bag:before {
  content: "\E9C7";
}

.fe-shopping-cart:before {
  content: "\E9C8";
}

.fe-shuffle:before {
  content: "\E9C9";
}

.fe-sidebar:before {
  content: "\E9CA";
}

.fe-skip-back:before {
  content: "\E9CB";
}

.fe-skip-forward:before {
  content: "\E9CC";
}

.fe-slack:before {
  content: "\E9CD";
}

.fe-slash:before {
  content: "\E9CE";
}

.fe-sliders:before {
  content: "\E9CF";
}

.fe-smartphone:before {
  content: "\E9D0";
}

.fe-speaker:before {
  content: "\E9D1";
}

.fe-square:before {
  content: "\E9D2";
}

.fe-star:before {
  content: "\E9D3";
}

.fe-stop-circle:before {
  content: "\E9D4";
}

.fe-sun:before {
  content: "\E9D5";
}

.fe-sunrise:before {
  content: "\E9D6";
}

.fe-sunset:before {
  content: "\E9D7";
}

.fe-tablet:before {
  content: "\E9D8";
}

.fe-tag:before {
  content: "\E9D9";
}

.fe-target:before {
  content: "\E9DA";
}

.fe-terminal:before {
  content: "\E9DB";
}

.fe-thermometer:before {
  content: "\E9DC";
}

.fe-thumbs-down:before {
  content: "\E9DD";
}

.fe-thumbs-up:before {
  content: "\E9DE";
}

.fe-toggle-left:before {
  content: "\E9DF";
}

.fe-toggle-right:before {
  content: "\E9E0";
}

.fe-trash:before {
  content: "\E9E1";
}

.fe-trash-2:before {
  content: "\E9E2";
}

.fe-trending-down:before {
  content: "\E9E3";
}

.fe-trending-up:before {
  content: "\E9E4";
}

.fe-triangle:before {
  content: "\E9E5";
}

.fe-truck:before {
  content: "\E9E6";
}

.fe-tv:before {
  content: "\E9E7";
}

.fe-twitter:before {
  content: "\E9E8";
}

.fe-type:before {
  content: "\E9E9";
}

.fe-umbrella:before {
  content: "\E9EA";
}

.fe-underline:before {
  content: "\E9EB";
}

.fe-unlock:before {
  content: "\E9EC";
}

.fe-upload:before {
  content: "\E9ED";
}

.fe-upload-cloud:before {
  content: "\E9EE";
}

.fe-user:before {
  content: "\E9EF";
}

.fe-user-check:before {
  content: "\E9F0";
}

.fe-user-minus:before {
  content: "\E9F1";
}

.fe-user-plus:before {
  content: "\E9F2";
}

.fe-user-x:before {
  content: "\E9F3";
}

.fe-users:before {
  content: "\E9F4";
}

.fe-video:before {
  content: "\E9F5";
}

.fe-video-off:before {
  content: "\E9F6";
}

.fe-voicemail:before {
  content: "\E9F7";
}

.fe-volume:before {
  content: "\E9F8";
}

.fe-volume-1:before {
  content: "\E9F9";
}

.fe-volume-2:before {
  content: "\E9FA";
}

.fe-volume-x:before {
  content: "\E9FB";
}

.fe-watch:before {
  content: "\E9FC";
}

.fe-wifi:before {
  content: "\E9FD";
}

.fe-wifi-off:before {
  content: "\E9FE";
}

.fe-wind:before {
  content: "\E9FF";
}

.fe-x:before {
  content: "\EA00";
}

.fe-x-circle:before {
  content: "\EA01";
}

.fe-x-square:before {
  content: "\EA02";
}

.fe-zap:before {
  content: "\EA03";
}

.fe-zap-off:before {
  content: "\EA04";
}

.fe-zoom-in:before {
  content: "\EA05";
}

.fe-zoom-out:before {
  content: "\EA06";
}
